Repository jordanlister/KickbackApp: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftlint, swift-format, check-yaml, check-json

swiftlint:
  name: SwiftLint
  entry: swiftlint
  language: system
  args:
  - lint
  - --strict
  - --quiet
  stages:
  - commit

swift-format:
  name: swift-format
  entry: swift-format
  language: system
  args:
  - --in-place
  stages:
  - commit

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-json:
  name: Check JSON
  entry: check-json
  language: system

feat: Complete Kickback iOS app implementation with on-device AI
  .gitignore
  KickbackApp.xcodeproj/project.pbxproj
  KickbackApp/Info.plist
  KickbackApp/Models/CompatibilityPromptTemplates.swift
  KickbackApp/Resources/Config/AppConfig.plist
  KickbackApp/Resources/Models/config.json
  KickbackApp/Resources/Models/generation_config.json
  KickbackApp/Services/AudioSessionManager.swift
  KickbackApp/Services/AudioTranscriber.swift
  KickbackApp/Services/CompatibilityIntegrationService.swift
  KickbackApp/Services/LLMService.swift
  KickbackApp/Utilities/CompatibilityTestingUtilities.swift
  KickbackApp/Utilities/PerformanceOptimizations.swift
  KickbackApp/ViewModels/CompatibilityViewModel.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
  KickbackApp/Views/CardDeckView.swift
  KickbackApp/Views/CompatibilityInsightsView.swift
  KickbackApp/Views/ConversationCard.swift
  setup.sh
Due: swiftlint, swift-format, check-json

docs: Add comprehensive README with architecture and setup instructions
  README.md
Due: none

debug: Add FFN layer debugging to trace OpenELM dimension mismatch
  KickbackApp/Services/LLMService.swift
  KickbackApp/ViewModels/CardViewModel.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
Due: swiftlint, swift-format

feat: Complete functional OpenELM-3B implementation with all 36 layers working
  KickbackApp/Services/LLMService.swift
Due: swiftlint, swift-format

fix: Prevent app crash by implementing lazy question loading
  KickbackApp/ViewModels/MainContentViewModel.swift
Due: swiftlint, swift-format

feat: Implement 8-bit quantization reducing model size by 50%
  KickbackApp/Services/LLMService.swift
  inspect_weights.py
  quantize_openelm.py
Due: swiftlint, swift-format

feat: Implement Apple Foundation Models framework for iOS 26
  KickbackApp.xcodeproj/project.pbxproj
  KickbackApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  KickbackApp/KickbackApp.entitlements
  KickbackApp/Resources/Models/config.json
  KickbackApp/Resources/Models/generation_config.json
  KickbackApp/Services/LLMService.swift
Due: swiftlint, swift-format, check-json

docs: Update documentation for Foundation Models breakthrough
  QUESTIONENGINE_IMPLEMENTATION.md
  README.md
Due: none

feat: Implement modern card deck UI with smooth animations
  KickbackApp/Assets.xcassets/BrandPurple.colorset/Contents.json
  KickbackApp/Assets.xcassets/BrandPurpleLight.colorset/Contents.json
  KickbackApp/Assets.xcassets/KickbackLogo.imageset/Contents.json
  KickbackApp/Assets.xcassets/KickbackLogo.imageset/KickbackLogo.svg
  KickbackApp/Assets.xcassets/KoalaMascot.imageset/Contents.json
  KickbackApp/Assets.xcassets/KoalaMascot.imageset/KoalaMascot.svg
  KickbackApp/ViewModels/CardViewModel.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
  KickbackApp/Views/CardDeckView.swift
  KickbackApp/Views/ConversationCard.swift
  KickbackApp/Views/KickbackCardView.swift
Due: swiftlint, swift-format, check-json

fix: Eliminate bouncing animation on card close
  KickbackApp/ViewModels/MainContentViewModel.swift
  KickbackApp/Views/CardDeckView.swift
  KickbackApp/Views/ConversationCard.swift
Due: swiftlint, swift-format

feat: Complete iOS 26 Liquid Glass transformation and UI cleanup
  KickbackApp/Models/ConversationMode.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
  KickbackApp/Views/CardDeckView.swift
  KickbackApp/Views/ConversationCard.swift
  KickbackApp/Views/GlassEffectExtensions.swift
  KickbackApp/Views/KickbackCardView.swift
  KickbackApp/Views/LaunchAnimationView.swift
  KickbackApp/Views/ModeSelectionView.swift
Due: swiftlint, swift-format

feat: Remove MockQuestionEngine and optimize context window management
  KickbackApp/Services/QuestionEngine.swift
  KickbackApp/ViewModels/CardViewModel.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
  KickbackApp/Views/CardDeckView.swift
  KickbackApp/Views/ConversationCard.swift
  KickbackApp/Views/GlassEffectExtensions.swift
  KickbackApp/Views/KickbackCardView.swift
  KickbackApp/Views/VoiceInputView.swift
Due: swiftlint, swift-format

fix: Resolve pronoun selection UI update issue with forced refresh mechanism
  KickbackApp.xcodeproj/project.pbxproj
  KickbackApp/ContentView.swift
  KickbackApp/Models/PlayerModel.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
  KickbackApp/ViewModels/PlayerManager.swift
  KickbackApp/Views/CardDeckView.swift
  KickbackApp/Views/PlayerInputCard.swift
  KickbackApp/Views/PlayerSetupView.swift
Due: swiftlint, swift-format

feat: Implement turn-based gameplay with turn indicator
  KickbackApp/Models/GameStateModel.swift
  KickbackApp/ViewModels/GameplayIntegration.swift
  KickbackApp/ViewModels/GameplayViewModel.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
  KickbackApp/ViewModels/TurnManager.swift
  KickbackApp/Views/CardDeckView.swift
  KickbackApp/Views/ConversationCard.swift
  KickbackApp/Views/GameStatusView.swift
  KickbackApp/Views/NavigationMenuView.swift
  KickbackApp/Views/TurnIndicatorView.swift
Due: swiftlint, swift-format

feat: Add comprehensive onboarding flow with microphone permissions
  KickbackApp/ContentView.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
  KickbackApp/ViewModels/OnboardingViewModel.swift
  KickbackApp/Views/HowItWorksScreen.swift
  KickbackApp/Views/MicrophonePermissionScreen.swift
  KickbackApp/Views/OnboardingView.swift
  KickbackApp/Views/WelcomeScreen.swift
Due: swiftlint, swift-format

fix: Add required microphone and speech recognition usage descriptions
  KickbackApp.xcodeproj/project.pbxproj
Due: none

feat: Improve onboarding UI layout and navigation
  KickbackApp/Views/HowItWorksScreen.swift
  KickbackApp/Views/OnboardingView.swift
Due: swiftlint, swift-format

feat: Complete onboarding UI improvements with working navigation
  KickbackApp/ContentView.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
  KickbackApp/Views/HowItWorksScreen.swift
  KickbackApp/Views/MicrophonePermissionScreen.swift
  KickbackApp/Views/NavigationMenuView.swift
  KickbackApp/Views/OnboardingView.swift
  KickbackApp/Views/WelcomeScreen.swift
Due: swiftlint, swift-format

feat: Implement complete answer recording and turn-based flow
  KickbackApp.xcodeproj/project.pbxproj
  KickbackApp/Models/CardAnswerModel.swift
  KickbackApp/Services/AudioTranscriber.swift
  KickbackApp/ViewModels/CardViewModel.swift
  KickbackApp/ViewModels/GameplayIntegration.swift
  KickbackApp/Views/CardDeckView.swift
  KickbackApp/Views/ConversationCard.swift
Due: swiftlint, swift-format

feat: Implement two-stage compatibility analysis with optimized prompts
  KickbackApp/ContentView.swift
  KickbackApp/Documentation/CompatibilityAnalysisArchitecture.md
  KickbackApp/Examples/TwoStageAnalysisExample.swift
  KickbackApp/Models/CardAnalysisSummary.swift
  KickbackApp/Models/CompatibilityModels.swift
  KickbackApp/Models/CompatibilityPromptTemplates.swift
  KickbackApp/Services/CompatibilityAnalyzer.swift
  KickbackApp/Services/GameCompletionService.swift
  KickbackApp/ViewModels/CardViewModel.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
  KickbackApp/Views/CardDeckView.swift
  KickbackApp/Views/CompatibilityResultView.swift
  KickbackApp/Views/ConversationCard.swift
  KickbackApp/Views/GameCompletionResultsView.swift
  KickbackApp/Views/GameProgressIndicator.swift
Due: swiftlint, swift-format

fix: Add enhanced JSON parsing with fallback for card analysis
  KickbackApp/Services/GameCompletionService.swift
Due: swiftlint, swift-format

fix: Stop background question generation during compatibility analysis
  KickbackApp/ViewModels/CardViewModel.swift
  KickbackApp/ViewModels/MainContentViewModel.swift
Due: swiftlint, swift-format

feat: Add speech recognition permission to onboarding flow
  KickbackApp/ViewModels/OnboardingViewModel.swift
  KickbackApp/Views/MicrophonePermissionScreen.swift
  KickbackApp/Views/OnboardingView.swift
Due: swiftlint, swift-format

Path conditions:
  swiftlint: any of: \.swift$
  swift-format: any of: \.swift$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
